{% extends "base.admin.html.twig" %}

{% block title %}Détail du webservice {{ws.id}} {{ws.params.name}} {% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Webservice #{{ws.id}} - {{ws.params.name}}</h1>
    <div class="row flex">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <dl class="row">
                <dt class="col-3">Name</dt><dd class="col-9">{{ws.params.name}}</dd>
                <dt class="col-3">IP/Server</dt><dd class="col-9">{{ws.params.ip}}</dd>
                <dt class="col-3">Port</dt><dd class="col-9">{{ws.params.port}}</dd>
                <dt class="col-3">Username</dt><dd class="col-9">{{ws.params.user}}</dd>
                <dt class="col-3">Pwd</dt><dd class="col-9">{{ws.params.pwd}}</dd>
            </dl>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
            <dl class="row">
                <dt class="col-3">Application name</dt><dd class="col-9">APP{{sysinfo.ApplicationName}}</dd>
                <dt class="col-3">Operating System</dt><dd class="col-9">{{sysinfo.OSVersionName}}</dd>
                <dt class="col-3">Version</dt><dd class="col-9">{{sysinfo.VersionInfo.Version}}</dd>
                <dt class="col-3">Time bias</dt><dd class="col-9">{{sysinfo.TimeBias}} mn</dd>
            </dl>
        </div>
    </div>
    <span class="fas fa-heartbeat text-success"></span>
     <em>Ce webservice a répondu à {{datetime|date("H:i:s", "Europe/Paris")}}</em>
    
    
    
</div>
    
{% endblock %}