{% extends 'base.html.twig' %} {% block title %}
  Bienvenue
{% endblock %} {% block body %}
  <div class="container">
    <h1 class="h3 mt-4">
      Concepteur et éditeur de solutions informatiques pour les professionnels
      de l'assurance
    </h1>

    {% if carousel is not null %}

      <div id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel">
        <ol class="carousel-indicators">
          {% for element in carousel.carouselElements %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          {% for element in carousel.carouselElements %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img class="d-block w-100 img-fluid"
              src="{{ carousels_images_url }}/{{element.image}}"
              alt="{{element.title}}" />
            <div class="carousel-caption d-none d-md-block">
              <h3>{{element.title}}</h3>
              <p>{{element.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <hr>

    {% endif %}


    <p class="homepage slogan slogan-1">
      Depuis 42 années, Bel Air Informatique vous accompagne avec succès en vous
      proposant des solutions informatiques pour l'ensemble des professionnels
      de l'assurance.

      Nous connaissons votre métier !
    </p>
  </div>
{% endblock %}

{% block javascripts %}
<script>
    $('.carousel').carousel({
        interval: 2000
      })
</script>
{% endblock %}